{% extends 'base.html.twig' %}

{% block main %}
    <h1>Product_picture</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ product_Picture.id }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ product_Picture.url }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('product_picture_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('product_picture_edit', { 'id': product_Picture.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
