{% extends 'base.html.twig' %}

{% block main %}
    <h1>User_comment</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user_Comment.id }}</td>
            </tr>
            <tr>
                <th>Comment</th>
                <td>{{ user_Comment.comment }}</td>
            </tr>
            <tr>
                <th>Rate</th>
                <td>{{ user_Comment.rate }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{% if user_Comment.created %}{{ user_Comment.created|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{% if user_Comment.updated %}{{ user_Comment.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('user_comment_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('user_comment_edit', { 'id': user_Comment.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
