{% trans_default_domain 'FOSUserBundle' %}


{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}

<div>
    {{ form_label(form.firstname) }}
    {{ form_errors(form.firstname) }}
    {{ form_widget(form.firstname) }}
</div>

<div>
    {{ form_label(form.lastname) }}
    {{ form_errors(form.lastname) }}
    {{ form_widget(form.lastname) }}
</div>

<div>
    {{ form_label(form.username) }}
    {{ form_errors(form.username) }}
    {{ form_widget(form.username) }}
</div>

<div>
    {{ form_label(form.email) }}
    {{ form_errors(form.email) }}
    {{ form_widget(form.email) }}
</div>

<div>
    {{ form_label(form.plainPassword.first) }}
    {{ form_errors(form.plainPassword.first) }}
    {{ form_widget(form.plainPassword.first) }}
</div>

<div>
    {{ form_label(form.plainPassword.second) }}
    {{ form_errors(form.plainPassword.second) }}
    {{ form_widget(form.plainPassword.second) }}
</div>
    <div>
        <input type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>
{{ form_end(form) }}





<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Sign Up</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="firstname">First Name</label>  
  <div class="col-md-4">
  <input id="firstname" name="firstname" type="text" placeholder="first name" class="form-control input-md">
  <span class="help-block">Enter First Name</span>  
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="firstname">First Name</label>  
  <div class="col-md-4">
  <input id="firstname" name="firstname" type="text" placeholder="first name" class="form-control input-md">
  <span class="help-block">Enter First Name</span>  
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="firstname">First Name</label>  
  <div class="col-md-4">
  <input id="firstname" name="firstname" type="text" placeholder="first name" class="form-control input-md">
  <span class="help-block">Enter First Name</span>  
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="login">Click to login</label>
  <div class="col-md-4">
    <button id="login" name="login" class="btn btn-primary">Signin</button>
  </div>
</div>

</fieldset>
</form>