{% extends 'base.html.twig' %}

{% block main %}
    <h1>Users list</h1>

    <table>
        <thead>
            <tr>
                <th>Username</th>
                {% if is_granted('ROLE_ADMIN') %}<th>Firstname</th>{% endif %}
                {% if is_granted('ROLE_ADMIN') %}<th>Lastname</th>{% endif %}
                {% if is_granted('ROLE_ADMIN') %}<th>Postaladress</th>{% endif %}
                <th>Visits</th>
                {% if is_granted('ROLE_ADMIN') %}<th>Created</th>{% endif %}
                {% if is_granted('ROLE_ADMIN') %}<th>Updated</th>{% endif %}
                {% if is_granted('ROLE_ADMIN') %}<th>Rank</th>{% endif %}
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                {% if is_granted('ROLE_ADMIN') %}<td>{{ user.firstname }}</td>{% endif %}
                {% if is_granted('ROLE_ADMIN') %}<td>{{ user.lastname }}</td>{% endif %}
                {% if is_granted('ROLE_ADMIN') %}<td>{{ user.postalAdress }}</td>{% endif %}
                <td>{{ user.visitedBy|length() }}</td>
                {% if is_granted('ROLE_ADMIN') %}<td>{{ user.created|date('Y-m-d H:i:s') }}</td>{% endif %}
                {% if is_granted('ROLE_ADMIN') %}<td>{{ user.updated|date('Y-m-d H:i:s') }}</td>{% endif %}
                {% if is_granted('ROLE_ADMIN') %}<td>{{ user.roles|join(', ') }}</td>{% endif %}
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('user_show', { 'id': user.id }) }}">show</a>
                        </li>
                        {% if is_granted('ROLE_ADMIN') %}
                            <li>
                                <a href="{{ path('user_edit', { 'id': user.id }) }}">edit</a>
                            </li>
                        {% endif %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN') %}
        <ul>
            <li>
                <a href="{{ path('user_new') }}">Create a new user</a>
            </li>
        </ul>
    {% endif %}
{% endblock %}
