{% extends 'base.html.twig' %}

{% block main %}
    <h1>Product creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('product_index') }}">Back to the list</a>
        </li>
    </ul>

<!--div id="catList" style="display:none">{% for category in categories %} _{{category}}_ {% endfor %}</div-->
<!--script src="{{ asset('js/jquery.js') }}"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="{{ asset('js/category_autocomplete.js') }}"></script-->

{% endblock %}