{% trans_default_domain 'FOSUserBundle' %}

<h2>My FoSUser_Edit_Content</h2>

{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
    {{ form_row(form.firstname) }}
    {{ form_row(form.lastname) }}
    {{ form_row(form.username) }}
    {{ form_row(form.email) }}
    {{ form_row(form.postalAdress) }}
    <div>
        <input type="submit" value="{{ 'profile.edit.submit'|trans }}" />
    </div>
    <div>
    	<a href="{{ path('profile_selfDelete') }}">Delete Me.</a>
    </div>
{{ form_end(form) }}